.ReactTable {
	border: 1px solid rgba(0,0,0,0.1);

	.rt-thead {
		&.-headerGroups {
			background: rgba(0,0,0,0.03);
			border-bottom: 1px solid rgba(0,0,0,0.05);
		}

		&.-header {
			border-bottom: 1px solid rgba(0,0,0,0.05);
		}
	}

	.rt-th {
		font-weight: bold;
	}

	.rt-th,
	.rt-td {
		padding: 5px 5px;
		border-right: 1px solid rgba(0,0,0,0.05);
		box-shadow: inset 0 0 0 0 transparent;

		&.-sort-asc {
			box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.6);
		}

		&.-sort-desc {
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.6);
		}
	}

	.rt-tbody {
		.rt-tr-group {
			border-bottom: solid 1px rgba(0,0,0,0.05);
		}

		.rt-td {
			border-right: 1px solid rgba(0,0,0,0.02);
		}
	}

	.-pagination {
		padding: 3px;
		border-top: 1px solid rgba(0,0,0,0.1);
	}
}

.wppt-header {
	padding: 5px 0;

	.wppt-search {
		padding: 5px;
	}
}

.wppt {
	&.striped {
		.rt-tr.-odd {
			background: rgba(0,0,0,.03);
		}
	}
}